.heroWrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  background-image: var(--home-bg-gradient);
  color: var(--card-contents);
}

.hero {
  backdrop-filter: blur(20px);
  background-color: var(--card-container);
  opacity: 1;
  border-radius: 24px;
  box-shadow: var(--shadows-lg);
  padding: 4.5rem 2.0rem 2.0rem;
  max-width: 777px;
  text-align: center;
  z-index: 0;

  @media only screen and (max-width: 700px) {
    margin: 0 1.25rem;
    padding: 4.5rem 1.25rem 1.25rem;
  }
}

.heroImage {
  position: absolute;
  margin-top: -120px;
  margin-left: -50px;
  z-index: 1;
}

.wavingHand {
  position: absolute;
  margin-top: -58px;
  margin-left: 20px;
  z-index: 2;
}

.heroContent {

  h1,
  h2,
  h3,
  h4 {
    font-size: 30px;
    font-size: 1.8rem;
    line-height: 38px;
    letter-spacing: -0.15px;
    margin: 0 0 12px;
    color: var(--text-primary);
  }

  .name {
    background-color: var(--hero-purple-bg);
    color: var(--text-primary);
    border-radius: 5px;
    display: inline-block;
    padding: 0 5px;
  }

  .title {
    background-color: var(--hero-green-bg);
    color: var(--text-primary);
    border-radius: 5px;
    display: inline-block;
    padding: 0 5px;
  }
}

.heroIcons {
  z-index: 0;
  margin: 100px 0 0 260px;
  position: absolute;

  img {
    position: absolute;
    display: inline-block;
  }

  @media only screen and (max-width: 700px) {}
}