.heroWrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  background-image: var(--home-bg-gradient);
  color: var(--card-contents);
}

.hero {
  backdrop-filter: blur(12px);
  background-color: var(--card-container);
  opacity: 1;
  border-radius: 24px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04), 0px 4px 16px 0px rgba(0, 0, 0, 0.04), 0px 8px 32px 0px rgba(0, 0, 0, 0.04);
  padding: 4.5rem 2.0rem 2.0rem;
  max-width: 777px;
  text-align: center;

  @media only screen and (max-width: 700px) {
    margin: 0 1.25rem;
    padding: 4.5rem 1.25rem 1.25rem;
  }
}

.heroImage {
  position: absolute;
  margin-top: -120px;
  margin-left: -50px;
}

.heroContent {

  h1,
  h2,
  h3,
  h4 {
    font-size: 30px;
    font-size: 1.8rem;
    letter-spacing: -0.15px;
    margin: 0 0 12px;
    color: var(--text-primary);
  }

  .name {
    background-color: rgb(162, 89, 255);
    border-radius: 5px;
    display: inline-block;
    padding: 0 5px;
  }

  .title {
    background-color: rgb(4, 199, 124);
    border-radius: 5px;
    display: inline-block;
    padding: 0 5px;
  }
}