.photogallery {
  img {
    margin: 0 0 1.0rem;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
      box-shadow: var(--gallery-hover-shadow);
      ;
    }
  }
}

.socialwrapper {}

a.socials {
  display: inline-block;
  margin: 4px 10px;
  border: 0px;

  background-repeat: no-repeat;
  background-position: center;

  &[target=_blank]::after {
    display: none;
  }

}
