.workcontainer {

  a {
    text-decoration: none;
    border-bottom: 0;

    &::after {
      display: none;
    }
  }
}

.workcard {
  margin: 0 0 2.0rem;
  padding: 1.0rem;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  border-radius: 16px;

  backdrop-filter: blur(12px);
  background-color: var(--card-container);
  border: 1px solid var(--card-container);

  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04), 0px 4px 16px 0px rgba(0, 0, 0, 0.04), 0px 8px 32px 0px rgba(0, 0, 0, 0.04);
  opacity: 1;

  border-radius: 32px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 2px 4px 0px rgba(0, 0, 0, 0.04), 0px 4px 12px 0px rgba(0, 0, 0, 0.04);
  transform: none;
  transform-origin: 50% 50% 0px;

  text-decoration: none;

  transition: all 0.25s linear;

  &:hover {
    background-color: var(--card-container-secondary);
    border-color: var(--card-container-secondary);
  }

  span {
    display: inline-block;
    font-size: 1.12rem;
    border-bottom: 0;
    margin: 10px 0 2px;
    font-weight: 500;
    color: var(--card-contents);
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    color: var(--text-tertiary);
    font-size: 0.88rem;
    letter-spacing: 0.25px;
    display: inline-block;
    border: 1px solid var(--card-container-tertiary);
    padding: 5px 10px;
    margin: 8px 6px 4px 0;
    border-radius: 4px;
  }


}

.backarrow {
  text-decoration: none;
  text-align: left;

  a {
    padding: 8px 1.0rem;
    border-radius: 5px;
    border: 1px solid var(--card-container-secondary);
    background-color: var(--card-container);
    transition: all 0.4s linear;
    color: var(--text-primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);

    &:hover {
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.08);
    }
  }


  img {
    display: inline-block;
    max-width: 25px;
    vertical-align: middle;
    padding: 0 10px 0 0;
  }

  @media only screen and (max-width: 48em) {
    img {
      padding: 4px 0;
      max-width: 18px;
    }

    span {
      display: none;
    }
  }
}