$menucolor-home: #f9a7a1;
$menucolor-about: #dea8fa;
$menucolor-work: #f5c40f;
$menucolor-photo: #94b0f6;
$menucolor-resume: #1dc970;

@mixin linkBgColor {

  .icon {
    filter: brightness(4) invert(100%);
  }

  &:nth-child(1) {
    background-color: $menucolor-home;

  }

  &:nth-child(2) {
    background-color: $menucolor-about;
  }


  &:nth-child(3) {
    background-color: $menucolor-work;
  }


  &:nth-child(4) {
    background-color: $menucolor-photo;
  }

  &:nth-child(5) {
    background-color: $menucolor-resume;
  }
}


.menu {
  --w: 3rem;
  display: flex;
  position: fixed;
  bottom: 0.750em;
  left: 0;
  right: 0;
  width: calc(8.5 * var(--w));
  height: calc(1.5 * var(--w));
  margin: 0 auto;

  flex-direction: row;
  justify-content: center;

  overflow-x: visible;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  border-radius: 16px;
  backdrop-filter: blur(var(--card-blur));
  border-radius: 15px;
  background-color: var(--card-container);
  border: 1px solid var(--card-container-border);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04), 0px 4px 16px 0px rgba(0, 0, 0, 0.04), 0px 8px 32px 0px rgba(0, 0, 0, 0.04);
  opacity: 1;

}

.link {
  position: relative;
  display: block;
  min-width: 60px;
  margin: 6px 0;
  margin-inline: 0.5rem;

  opacity: 0.75;
  border-radius: 15px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--card-container-secondary);
  backdrop-filter: blur(var(--card-blur));
  border-radius: 12px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.04), 0px 2px 8px 0px rgba(0, 0, 0, 0.04);

  transition: background-color 0.5s ease;


  .icon {
    position: absolute;
    width: 100%;
    transition: .4ms linear;
    top: 10%;
    left: 50%;
    translate: -50% 0;
    width: 70%;
    aspect-ratio: 1 / 1;
    border-radius: 0.5em;
    scale: 0.68;

    @media (prefers-color-scheme: dark) {
      filter: invert(.75);
    }
  }

  .tooltip {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    position: absolute;
    margin-top: -35px;
    background-color: var(--card-container);
    color: var(--card-contents);
    padding: 2px 6px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  &:nth-child(2) {

    .icon {
      scale: 0.6;
    }
  }

  // ---------------HOVER STYLES---------------
  &:hover {
    @include linkBgColor;

    .tooltip {
      display: block;
      opacity: 1;
    }

  }

  // ---------------ACTIVE STYLES---------------
  &[class*="active"] {
    @include linkBgColor;
  }
}