@import './components/normalise.scss';
@import './components/root.constants.scss';
@import './components/grid.scss';
@import './components/cssmodal.scss';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');


* {
  box-sizing: border-box;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background: var(--primary-background);
  color: var(--text-secondary);
}

a {
  text-decoration: none;
}

.align-center {
  text-align: center;
}


.sebcontent {
  padding: 0 1.5rem 150px;

  img {
    max-width: inherit;
    max-width: -webkit-fill-available;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
    color: var(--text-primary);
  }

  .titleImage {
    display: block;
    text-align: center;
    margin: 1.0rem auto 0.65rem;
    padding: 0;
  }

  h1 {
    font-size: 2.25em;
    font-weight: 800;
    line-height: 1;
    margin: 0 0 .65rem
  }

  h2 {
    font-size: 1.7em;
    font-weight: 300;
    margin: 0 0 .65rem;
    letter-spacing: -0.5px;
    color: var(--text-tertiary);
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.25;
    margin: 0 0 .65rem;
  }

  h4 {
    font-size: 1.25em;
    line-height: 1.25;
    margin: 0 0 .65rem;
  }

  h5 {
    font-size: 1.1em;
    margin: 0 0 .65rem;
  }

  h6 {
    font-size: 1.0em;
    margin: 0 0 .65rem;
  }

  p {
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
    margin: 0 0 1.45rem;
  }

  a {
    border-style: solid;
    border-width: 0 0 1px;
    border-color: var(--button-background-primary);
    color: var(--button-background-primary);

    &:visited {
      color: var(--button-background-primary);
    }

    &[target=_blank] {
      &::after {
        content: " \02197";
        display: inline-block;
        width: 12px;
        height: 12px;
        padding: 0 2px;
      }
    }

  }

}

@import './components/markdown.content.scss';